# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Author:
Kevin Ruth

**Objectives:**

- list some popular languages for data science 
- list some commonly used libraries for Data Science
- evaluate simple arithmetic expressions in Python
- list some popular development tools for Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Visual Basic

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Plotly
3. NumPy
4. sklearn (aka scikit-learn)
5. Matplotlib

| Data Science Tools |
| :---: |
| R Studio    |  
| Jupyter Labs  |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335